.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  margin-top: 5vw;
  margin-bottom: 50px;
}

.contact-card {
  background-color: #121212;
  color: white;
  width: 100%;
  height: 300px;
  font-family: bebasNeue-bold;
  border: 0px solid #121212;
}

.location-card {
  border: 0px solid #121212;
  background-color: #121212;
  color: white;
  width: 100%;
  height: 500px;
  font-family: bebasNeue-bold;
  margin-top: 50px;
  padding: 0px;
}

:host /deep/ .mat-card-header-text {
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: white;
  font-family: bebasNeue-bold;
  margin: 3vw;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 0;
}

.contact-subtitle-whatsapp {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  color: #4fce5d;
  font-family: bebasNeue-bold;
  border: 0px solid #121212;
  margin: 20px;
}

.contact-subtitle-mail {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  color: #3b5998;
  font-family: bebasNeue-bold;
  border: 0px solid #121212;
  margin: 20px;
}

.contact-subcard {
  border: 0px solid #121212;
  background-color: #121212;
  color: white;
  width: 50%;
  height: 75px;
  font-family: bebasNeue-bold;
}

.contact-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp {
  font-size: 2.5vw;
  font-family: bebasNeue-bold;
  text-decoration: none;
  color: white;
}
.whatsapp:hover {
  text-decoration: none;
  color: #4fce5d;
}

.mail {
  font-size: 2.5vw;
  font-family: bebasNeue-bold;
  text-decoration: none;
  color: white;
}
.mail:hover {
  text-decoration: none;
  color: #3b5998;
}

.icon-whatsapp {
  fill: #4fce5d;
  height: 2.5vw;
  width: 2.5vw;
  margin: 1vw;
}

.icon-mail {
  fill: #3b5998;
  height: 2.5vw;
  width: 2.5vw;
  margin: 1vw;
}

.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #121212;
  width: 100%;
  margin: 0;
}

.map {
  height: 400px;
  width: 100%;
}

.map_iframe {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}
