<mat-card [style.width]="'100%'" [style.height]="'80%'">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading vanburga-title">Ocurrio un error!</h4>
        <p>No pudimos procesar su pedido. Comuniquese con nosotros para realizar el pdido</p>
        <hr>
        <p class="mb-0">Presione <a href="https://wa.me/54{{ client.cellphone }}?text={{ stringCart }}" target="_blank">Aqui!</a> para enviarnos el mensaje de whatsapp con todo el pedido.</p>
    </div>
</mat-card>