<section
  class="bienvenida"
  fxlayout="row"
  fxlayout.xs="column"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <mat-card class="inicio-card bg-dark" fxFlex="100%"
    ><img
      mat-card-image
      class="img-inicio"
      src="assets\img\logo-descripcion.png"
      alt=""
    />
  </mat-card>
</section>

<section
  class="info"
  class="bienvenida"
  fxlayout="row"
  fxlayout.xs="column"
  fxLayoutGap="0.5%"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <div class="container bg-dark" fxFlex="100%">
    <mat-card class="info-sub-card bg-light" fxFlex="50%">
      <mat-card-header>
        <div mat-card-avatar class="header-image1"></div>
        <mat-card-title class="card-title">Días y Horarios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Jueves a Domingo: 19:30 a 23:30</li>
          <li>Feriados y Pre-Feriados: 19:30 a 23:30</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-sub-card bg-light" fxFlex="50%">
      <mat-card-header>
        <div mat-card-avatar class="header-image2"></div>
        <mat-card-title class="card-title">Delivery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>General Pacheco</li>
          <li>Los Troncos</li>
          <li>El talar</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>
