<section
  class="bienvenida"
  fxlayout="row"
  fxlayout.xs="column"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <mat-card class="inicio-card bg-dark" fxFlex="100%"
    ><img
      mat-card-image
      class="img-inicio"
      src="assets\img\logo-descripcion.png"
      alt=""
    />
  </mat-card>
</section>

<section
  class="info"
  fxlayout="row"
  fxlayout.xs="column"
  fxLayoutGap="3%"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <div class="container bg-dark" fxFill fxFlex="100%">
    <div class="row">
      <!-- Horarios -->
      <mat-card class="info-sub-card bg-dark" fxFlex="50%">
        <mat-card-header>
          <mat-card-title class="card-title">Horarios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Jueves a Domingo: 19:30 a 23:30</li>
            <li>Feriados y Pre-Feriados: 19:30 a 23:30</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <!-- Horarios -->

      <!-- Delivery -->
      <mat-card class="info-sub-card bg-dark" fxFlex="50%">
        <mat-card-header>
          <mat-card-title class="card-title">Delivery</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>General Pacheco</li>
            <li>Los Troncos</li>
            <li>El talar</li>
          </ul>
        </mat-card-content>
      </mat-card>
      <!-- Delivery -->
    </div>
  </div>
</section>
