body {
  background-color: black;
}

.bienvenida {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.inicio-card {
  max-height: 70vh;
  max-width: 990px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.img-inicio {
  max-height: 70vh;
  max-width: 990px;
  padding: 5px;
}

.info {
  margin-top: 15px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 990px;
  height: 70vh;
  border-radius: 20px;
  overflow: visible;
  position: relative;
  align-items: stretch;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-sub-card {
  max-width: 300px;
  margin: 5px;
  padding: 5px;
  max-height: 70vh;
  border-radius: 20px;
  overflow: visible;
  position: relative;
  justify-content: center;
}

.card-title {
  font-family: bebasNeue-bold;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

ul {
  list-style: none;
}

li {
  font-family: bebasNeue-bold;
  font-size: 2vw;
  line-height: 150%;
  padding-left: 20px;
  display: block;
}

@media (max-width: 450px) {
  .card-title {
    font-size: 1.8em;
  }
}
