<app-carousel [slides]="slides" [animationType]="animationType"></app-carousel>
<section
  class="bienvenida"
  fxlayout="row"
  fxlayout.xs="column"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <mat-card class="inicio-card" fxFlex="100%"
    ><img
      mat-card-image
      class="img-inicio"
      src="assets\img\logo-descripcion.png"
      alt=""
    />
  </mat-card>
</section>

<section
  class="info"
  fxlayout="row"
  fxlayout.xs="column"
  fxLayoutGap="3%"
  fxlayoutWrap
  FxLayoutAlign="center"
>
  <div class="row">
    <!-- Horarios -->
    <div class="container" fxFill fxFlex="50%">
      <h1 class="info-sub-card">Horarios</h1>
      <ul>
        <li>Jue a Dom - Feriados y Pre-Feriados</li>
        <li>19:30 a 23:30</li>
      </ul>
    </div>
    <!-- Horarios -->

    <!-- Delivery -->
    <div class="container" fxFill fxFlex="50%">
      <h1 class="info-sub-card">Delivery</h1>
      <ul>
        <li>Consultá si llegamos a tu zona!</li>
      </ul>
    </div>
    <!-- Delivery -->
  </div>
</section>
