<div class="background jumbotron clearfix">
    <!-- <button class="btn btn-outline-success btn-lg pull-right" [routerLink]="['/menu']" routerLinkActive="router-link-active" >Menu</button> -->
    <button mat-icon-button class="buttonsColor" aria-label="Example icon button with a menu icon" [routerLink]="['/menu']" routerLinkActive="router-link-active">
        <mat-icon>menu</mat-icon>
      </button>
    <div>
        <h2 [routerLink]="['']" routerLinkActive="router-link-active" style="font-family: bebasNeue-bold; text-align: center; font-size: 150px;" >vanburga</h2>
    </div>
</div>

