.footer {
  background-color: black;
  font-size: 1.5vw;
  font-family: bebasNeue-bold;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  margin-inline-start: 0px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.social-icons li {
  display: inline-block;
}

.whatsapp {
  fill: white;
}

.facebook {
  fill: white;
}
.instagram {
  fill: white;
}

.maps {
  fill: white;
}

.social-icons a {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin: 0vw 5vw;
  border-radius: 100%;
  transition-duration: 800ms;
}

.social-icons a.whatsapp:hover {
  fill: #4fce5d;
  transform: rotate(360deg);
}

.social-icons a.facebook:hover {
  fill: #3b5998;
  transform: rotate(360deg);
}

.social-icons a.instagram:hover {
  fill: #ea4c89;
  transform: rotate(360deg);
}
.social-icons a.maps:hover {
  fill: #dd4d42;
  transform: rotate(360deg);
}

/* @media (max-width: 767px) {
  .social-icons a {
    font-size: 16px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px 50px;
    border-radius: 100%;
    transition-duration: 800ms;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
} */
