<div class="container" style="margin-top: 80px;">

    <mat-card [style.width]="'100%'" [style.height]="'80%'">
    
        <mat-card-header>
            <div class="vurga-titles m-3 text-center" style="font-size: 50px;width: 100%;line-height: 28pt;">
                Continua Tu pedido
            </div>
        </mat-card-header>
        <mat-card-content>
            <div  *ngFor="let pd of cart">
                <ul class="list-group" >
                    <li class="list-group-item list-group-item-dark">
                        {{ pd.name }} {{ pd.button?.name }} - {{ pd.price | currency : 'ARS' : 'symbol-narrow' }}
                    </li>
                    <div  *ngFor="let ex of pd.extras">
                        <li  class="list-group-item list-group-item-secondary" *ngIf="ex.quantity > 0">
                            * {{ ex.name }} X{{ex.quantity }} - {{ (ex.price * ex.quantity  ) | currency : 'ARS' : 'symbol-narrow' }}
                        </li>     
                    </div>
                </ul>
                
            </div>
    
            <div class="alert alert-danger" role="alert" *ngIf="hasError">
                <h4 class="alert-heading vanburga-title">Faltan datos obligatorios!</h4>
                <p>{{ errorMessage }}</p>
                haga click <a [href]="'https://wa.me/541123915925?text=' +  whatsappLink"> aqui</a>
                <div *ngIf="extraError">
                    <p>{{ extendedErrorMessage }}</p>
                    <hr>
                </div>
            </div>
    
            <div>
                <form (ngSubmit)="onSubmit()" class="example-form" style="display: inline;" [formGroup]="deliverForm">
                    <h2 class="m-3 text-center" style="width: 100%; font-family: bebasNeue-bold; font-size: 40px;">
                        Tus Datos
                    </h2>
    
                    <div class="row justify-content-around">
                        <div class="col-4">
                            <mat-form-field class="example-half-width ">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="name" [(ngModel)]="client.name" required>
                                <mat-error *ngIf="name.invalid && name.errors.required  && !name.errors.minLength">
                                    El campo nombre es <strong>Obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-half-width ">
                                <mat-label >Telefono</mat-label>
                                <input matInput formControlName="cellphone" [(ngModel)]="client.cellphone">
                                <mat-error *ngIf="cellphone.invalid && cellphone.errors.required  && !cellphone.errors.minLength">
                                    El campo Telefono es <strong>Obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-half-width ">
                                <mat-label>Modo de pago</mat-label>
                                <mat-select  [(ngModel)]="paymentTypeSelected" formControlName="paymentType" >
                                    <mat-option>--Seleccione un modo de pago--</mat-option>
                                    <mat-option *ngFor="let pt of paymentsTypes" [value]="pt">{{ pt }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="example-half-width ">
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="lastName" [(ngModel)]="client.lastName">
                                <mat-error *ngIf="lastName.invalid && lastName.errors.required  && !lastName.errors.minLength">
                                    El campo apellido es <strong>Obligatorio</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="example-half-width ">
                                <mat-label >Correo</mat-label>
                                <input matInput formControlName="mail" [(ngModel)]="client.mail">
                                <mat-error *ngIf="mail.invalid && mail.errors.required">
                                    El mail es Obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <br><br><br>


                    <div class="d-flex justify-content-around mb-2" >
                            <button class="btn btn-secundary mt-2" id="a domicilio" [ngStyle]="{'color': delivery ? 'black' : 'silver', 'font-size': delivery ? '70px' : '50px'}" style="font-size: 100px !important;" (click)="delivery = true"  >Te lo llevamos!</button>
                            <button class="btn btn-secundary mt-2" id="take away" [ngStyle]="{'color': !delivery ? 'black' : 'silver', 'font-size': !delivery ? '70px' : '50px'}" (click)="delivery = false"  >take away!</button>
                    </div>
                    <hr style="border-top: 2px dashed #a0a0a0;">
    
                    <div *ngIf="delivery">
                        <h2 class="m-3 text-center" style="width: 100%; font-family: bebasNeue-bold; font-size: 30px;">
                            Direccion de entrega
                        </h2>
                        <div class="row justify-content-around" >
                            <div class="col-4" >
                                <mat-form-field class="example-half-width ">
                                    <mat-label>Localidad</mat-label>
                                    <mat-select  [(ngModel)]="selectedState" formControlName="state" (ngModelChange)="changeState($event)">
                                        <mat-option>--Seleccione una loclidad--</mat-option>
                                        <mat-option *ngFor="let state of states" [value]="state">{{state.state}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="example-half-width " >
                                    <mat-label>Calle</mat-label>
                                    <input matInput formControlName="street" [(ngModel)]="client.address.street" >
                                </mat-form-field>
                                <mat-form-field class="example-half-width " >
                                    <mat-label>Piso</mat-label>
                                    <input matInput formControlName="floor" [(ngModel)]="client.address.floor">
                                </mat-form-field>                        
                            </div>
                            <div class="col-4" >
                                <mat-form-field class="example-half-width ">
                                    <mat-label>Entre calles</mat-label>
                                    <input matInput formControlName="reference" [(ngModel)]="client.address.reference">
                                </mat-form-field>
                                <mat-form-field class="example-half-width ">
                                    <mat-label>Numero</mat-label>
                                    <input matInput formControlName="doorNumber" [(ngModel)]="client.address.doorNumber">
                                </mat-form-field>
                                <mat-form-field class="example-half-width ">
                                    <mat-label>Departamento</mat-label>
                                    <input matInput formControlName="door" [(ngModel)]="client.address.door">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <mat-label>Comentario adicional</mat-label>
                        <textarea matInput formControlName="comments" [(ngModel)]="comment"></textarea>
                      </mat-form-field>
                    <button class="btn buttonsColor" style="width: 100%; font-size: 25px;" [disabled]="!deliverForm.valid">Confirmar pedido {{ totalAmount | currency : 'ARS' : 'symbol-narrow' }}</button>
                </form>
            </div>
    
        </mat-card-content>
    </mat-card>
</div>

         