<div class="row">
  <mat-card class="col-sm bg-dark">25 COMBOS</mat-card>
  <mat-card class="col-sm bg-dark">8 PEDIDOS</mat-card>
</div>

<div class="row">
  <mat-card class="col-sm bg-dark">🍟6250gr</mat-card>
  <mat-card class="col-sm bg-dark">➕</mat-card>
  <mat-card class="col-sm bg-dark">🍔35 PATYS</mat-card>
  <mat-card class="col-sm bg-dark">➕</mat-card>
  <mat-card class="col-sm bg-dark">🍔25 2xCHDR</mat-card>
</div>

<div class="row">
  <mat-card class="col-sm bg-dark">🧀 5 1xCHDR</mat-card>
  <mat-card class="col-sm bg-dark">➕</mat-card>
  <mat-card class="col-sm bg-dark">🧀 3 DAMBO</mat-card>
  <mat-card class="col-sm bg-dark">➕</mat-card>
  <mat-card class="col-sm bg-dark">🧀 2 S/QSO</mat-card>
</div>

<div class="row">
  <mat-card class="col-sm"><h1>PRODUCTOS</h1></mat-card>
  <mat-card class="col-sm"><h1>PEDIDOS</h1></mat-card>
</div>

<div class="row">
  <mat-card class="col-sm">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile class="bg-dark">1</mat-grid-tile>
      <mat-grid-tile class="bg-dark">2</mat-grid-tile>
      <mat-grid-tile class="bg-dark">3</mat-grid-tile>
      <mat-grid-tile class="bg-dark">4</mat-grid-tile>
      <mat-grid-tile class="bg-dark">5</mat-grid-tile>
      <mat-grid-tile class="bg-dark">6</mat-grid-tile>
      <mat-grid-tile class="bg-dark">7</mat-grid-tile>
      <mat-grid-tile class="bg-dark">8</mat-grid-tile>
      <mat-grid-tile class="bg-dark">9</mat-grid-tile>
      <mat-grid-tile class="bg-dark">10</mat-grid-tile>
      <mat-grid-tile class="bg-dark">11</mat-grid-tile>
      <mat-grid-tile class="bg-dark">12</mat-grid-tile>
      <mat-grid-tile class="bg-dark">13</mat-grid-tile>
      <mat-grid-tile class="bg-dark">14</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="col-sm">
    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile class="bg-dark">1</mat-grid-tile>
      <mat-grid-tile class="bg-dark">2</mat-grid-tile>
      <mat-grid-tile class="bg-dark">3</mat-grid-tile>
      <mat-grid-tile class="bg-dark">4</mat-grid-tile>
      <mat-grid-tile class="bg-dark">5</mat-grid-tile>
      <mat-grid-tile class="bg-dark">6</mat-grid-tile>
      <mat-grid-tile class="bg-dark">7</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
