<div class="row">

    <div class="col" style="background-color: brown;">
        <mat-card *ngFor="let p of toConfirmOrders">
            <h4>{{ p.client.name }}</h4>
            <p>{{ p.amount | currency : 'ARS' : 'symbol-narrow' }}</p>
            <small>{{ p.status }}</small>
        </mat-card>
    </div>
    <button style="height: 50%;">left</button><br>
    <button style="height: 50%;">right</button>
    <div class="col" style="background-color: brown;">

    </div>
    <button>left</button><br>
    <button>right</button>
    <div class="col" style="background-color: brown;">

    </div>
</div>
