

<!-- Pop Up con detalle -->
<!-- Modal -->
<div class="modal fade mt-4" id="exampleModal" *ngIf="showDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">{{orderDetail.client.name }}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
              <h2>Total de hamburguesas = {{ orderDetail.totalRawMaterial }}</h2>
              <li *ngFor="let prod of orderDetail.products">
                  <h3>
                      {{prod.name}} - {{prod.price | currency : 'ARS' : 'symbol-narrow'}}
                  </h3>
                  <h5 *ngFor="let ext of prod.extras">
                      - {{ ext.name }} - X {{ ext.quantity }} - {{ext.price | currency : 'ARS' : 'symbol-narrow'}} 
                  </h5>
                  <hr>
              </li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="fowardDetailStatus()" data-dismiss="modal">Proximo estado</button>
        <button type="button" class="btn btn-primary" (click)="backwardStatus()" data-dismiss="modal">Volver estado</button>
      </div>
    </div>
  </div>
</div>

<div class="container pt-3 cards" style="margin-top: 80px;" >
  <button (click)="orderOrdersByStatus()" type="button" class="btn btn-outline-light btn-lg pull-right ml-auto-p2 mb-3">
      Recargar
  </button>

<div class="row">
      <div class="col">
          <p class="vurga-titles">Pedidos Pendientes</p>
          <p>Pedidos por confirmar: {{pendigsNumber}}</p>
          <p>Pedidos confirmados: {{confirmedNumber}}</p>
      </div>
      <div class="col">
          <p class="vurga-titles">Pedidos en cocina</p>
          <p>Pedidos en cocina: {{kitchenNumber}}</p>
          <p>hamburguesas en plancha: {{hamburgersNumber}}</p>
      </div>
      <div class="col">
          <p class="vurga-titles">Pedidos a entregar</p>
          <p>Pendientes de entrega: {{ toDeliverNumber }}</p>
          <p>Pedidos entregados: {{ finishedNumber }}</p>
      </div>
  </div>
  <div class="p-3 mb-2 bg-danger text-white" style="border-radius: 25px;">
      Pedidos Cancelados : {{ canceledNumber }}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col" >
        
        
        <mat-card *ngFor="let p of toConfirmOrders" class="cards">
            <div class="row">
                <div class="col">
    
                    <h2>{{ p.client.name }} </h2>
                    <h3>{{ p.amount | currency : 'ARS' : 'symbol-narrow' }}</h3>
                    <p>Total de hamburguesas: {{ p.totalRawMaterial }}</p>
                    <h3>Estado: <strong>{{ p.status }} </strong> </h3>
                </div>
                <div class="col">
  
                    <table style="height: 80%;">
                        <tbody>
                          <tr>
                            <td class="align-top"><button class="ConfirmButton" data-toggle="modal" data-target="#NAN" (click)="confirmOrder(p)" *ngIf="!p.confirmed">Confirmar orden</button></td>
                            <td class="align-middle"><button class="successButton" data-toggle="modal" data-target="#exampleModal" (click)="viewOrderDetail(p)">ver orden</button></td>
                            <!-- <td class="align-bottom"><button class="dangerButton" (click)="cancelOrder(p)">Cancelar</button></td> -->
                            <td class="align-bottom">
                              <button type="button" class="dangerButton" data-toggle="modal" data-target="#cancelToConfirmModal">
                                Cancelar
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
  
             <!-- Modal -->
             <div class="modal fade" id="cancelToConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="color: black !important;">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Cancelar Pedido!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="text-center">
                      <mat-icon style="color: red;">warning</mat-icon>
                       Esta seguro que desea eliminar este pedido? 
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger"  (click)="cancelOrder(p)" data-dismiss="modal">Cancelar</button>
                    
                    
                  </div>
                </div>
              </div>
            </div>
        </mat-card>
        <mat-card *ngFor="let co of confirmedOrders" class="cards">
            <div class="row">
                <div class="col">
    
                    <h2>{{ co.client.name }} </h2>
                    <h3>{{ co.amount | currency : 'ARS' : 'symbol-narrow' }}</h3>
                    <p>Total de hamburguesas: {{ co.totalRawMaterial }}</p>
                    <h3>Estado: <strong>{{ co.status }} </strong> </h3>
                </div>
                <div class="col">
                    <table style="height: 80%;">
                        <tbody>
                          <tr>
                            <td class="align-top"><button class="successButton" data-toggle="modal" data-target="#exampleModal" (click)="viewOrderDetail(co)">ver orden</button></td>
                            <!-- <td class="align-bottom"><button class="dangerButton" (click)="cancelOrder(co)">Cancelar</button></td> -->
                            <td class="align-middle"><button class="nextButton" data-toggle="modal" data-target="#NAN" (click)="fowardStatus(co)">Siguiente estado</button></td>

                            <td class="align-bottom">
                              <button type="button" class="dangerButton" data-toggle="modal" data-target="#cancelConfirmedModal">
                                Cancelar
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
  
            <!-- Modal -->
            <div class="modal fade" id="cancelConfirmedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="color: black !important;">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Cancelar Pedido!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="text-center">
                      <mat-icon style="color: red;">warning</mat-icon>
                       Esta seguro que desea eliminar este pedido? 
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger"  (click)="cancelOrder(co)" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
        </mat-card>
    </div>
  
  
  
    <div class="col" >
        <mat-card *ngFor="let k of kitchenOrders" class="cards">
            <div class="row">
                <div class="col">
                    <h2>{{ k.client.name }} </h2>
                    <h3>{{ k.amount | currency : 'ARS' : 'symbol-narrow' }}</h3>
                    <p>Total de hamburguesas: {{ k.totalRawMaterial }}</p>
                    <h3>Estado: <strong>{{ k.status }} </strong> </h3>
                </div>
                <div class="col">
                    <table style="height: 80%;">
                        <tbody>
                          <tr>
                            <td class="align-top"><button class="successButton" data-toggle="modal" data-target="#exampleModal" (click)="viewOrderDetail(k)">ver orden</button></td>
                            <td class="align-middle"><button class="nextButton" data-toggle="modal" data-target="#NAN" (click)="fowardStatus(k)">Siguiente estado</button></td>
                            <td class="align-bottom">
  
                              <button type="button" class="dangerButton" data-toggle="modal" data-target="#cancelKitchenModal">
                                Cancelar
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
  
            <!-- Modal -->
            <div class="modal fade" id="cancelKitchenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="color: black !important;">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Cancelar Pedido!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="text-center">
                      <mat-icon style="color: red;">warning</mat-icon>
                       Esta seguro que desea eliminar este pedido? 
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="cancelOrder(k)" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
        </mat-card>
  
    </div>
  
    <div class="col" >
      <mat-card *ngFor="let td of toDeliveryOrders" class="cards">
        <div class="row">
            <div class="col">
                <h2>{{ td.client.name }} </h2>
                <h3>{{ td.amount | currency : 'ARS' : 'symbol-narrow' }}</h3>
                <p>Total de hamburguesas: {{ td.totalRawMaterial }}</p>
                <h3>Estado: <strong>{{ td.status }} </strong> </h3>
            </div>
            <div class="col">
                <table style="height: 80%;">
                    <tbody>
                      <tr>
                        <td class="align-top"><button class="successButton" data-toggle="modal" data-target="#exampleModal" (click)="viewOrderDetail(td)">ver orden</button></td>
                        <td class="align-middle"><button class="nextButton" data-toggle="modal" data-target="#NAN" (click)="fowardStatus(td)" >Finalizar</button></td>
                        <td class="align-bottom">
  
                          <button type="button" class="dangerButton" data-toggle="modal" data-target="#cancelDeliverModal">
                            Cancelar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
  
        <!-- Modal -->
        <div class="modal fade" id="cancelDeliverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="color: black !important;">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Cancelar Pedido!</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="text-center">
                  <mat-icon style="color: red;">warning</mat-icon>
                   Esta seguro que desea eliminar este pedido? 
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="cancelOrder(td)" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>






