<div class="main">
  <mat-card class="order-sended-card">
    <mat-card-title class="alert-heading vanburga-title"
      >Pedido confirmado 😁</mat-card-title
    >
    <mat-card-actions class="enviar">
      <button type="button" class="btn btn-primary" [routerLink]="['/menu']">
        VOLVER AL MENÚ
      </button>
      <a
        type="button"
        class="btn btn-success"
        [href]="''+whatsappLink"
        target="_blank"
      >
        ENVIAR WHATSAPP
    </a>
    </mat-card-actions>
    <mat-card-header>
      <img mat-card-image src="../assets/img/exito.png" alt="vanburga éxito" />
    </mat-card-header>
    <mat-card-content>
      <p class="texto">
        Escribinos para coordinar el pedido
      </p>
    </mat-card-content>
  </mat-card>
</div>
