.background {
  background-color: RGBA(0, 0, 0, 0.2);
  color: #fafafa;
}
.header {
  align-items: center;
  display: flex;
  height: 70px;
  top: 0;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  z-index: 3434334;
  overflow: hidden;
  padding: 20px 10px;
}

a,
button {
  cursor: pointer;
}
a:hover {
  background-color: #666;
}

#logo {
  margin-left: 5px;
  margin-right: 5px;
  width: 180px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  #logo {
    width: 90px;
  }
  .header-right {
    float: none;
  }
}

@media (max-width: 374px) {
  #logo {
    margin-left: none;
    margin-right: none;
    width: 60px;
  }
}
