<div class="header bg-dark">
  <a href="/">
    <img
      class="header__img"
      src="assets\img\logo.png"
      alt="Vanburga"
      id="logo"
    />
  </a>
  <div class="header-right">
    <button *ngIf="isLoggedIn()" (click)="signOut()" class="btn btn-outline-light btn-lg pull-right ml-auto-p2">LogOut</button>
    <button *ngIf="!isLoggedIn()" [routerLink]="['/login']" class="btn btn-outline-light btn-lg pull-right ml-auto-p2">Login</button>
    <button
      type="button"
      class="btn btn-outline-light btn-lg pull-right ml-auto-p2"
      [routerLink]="['/menu']"
      routerLinkActive="router-link-active"
    >
      Hacé tu pedido!
    </button>
    <button
      type="button"
      class="btn btn-outline-light btn-lg pull-right ml-auto-p2"
      [routerLink]="['/menu']"
      routerLinkActive="router-link-active"
    >
      Contactanos
    </button>
  </div>
</div>
