/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

.btn {
  font-family: bebasNeue-bold;
}

.vurga-titles{
  font-family: bebasNeue-bold;
  font-size: 40px;
}

body {
  margin: 0;
  font-family: bebasNeue-bold;
  src: url(assets/Fonts/BebasNeue/BebasNeue-Bold.otf) format("opentype");
}
@font-face {
    font-family: bebasNeue-bold;
    src: url(assets/Fonts/BebasNeue/BebasNeue-Bold.otf) format("opentype");
  }

.buttonsColor{
  background-color: #c7c7c7 !important; 
  color: #000000 !important;
}

.cart-items{
  color: #fafafa; 
  border: 1px #fafafa solid;
  border-radius: 25px;
  padding: 10px;
}
