<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Icon-button with a menu"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    class="btn btn-lg pull-right ml-auto-p2"
    [routerLink]="['/menu']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>fastfood</mat-icon>
    <span>MENU</span>
  </button>
  <button
    mat-menu-item
    class="btn btn-lg pull-right ml-auto-p2"
    [routerLink]="['/contacto']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>local_phone</mat-icon>
    <span>CONTACTO</span>
  </button>
  <button
    mat-menu-item
    *ngIf="!isLoggedIn()"
    [routerLink]="['/login']"
    class="btn btn-lg pull-right ml-auto-p2"
  >
    <mat-icon>person</mat-icon>
    <span>LOGIN</span>
  </button>
  <button
    mat-menu-item
    *ngIf="isLoggedIn()"
    (click)="signOut()"
    class="btn btn-lg pull-right ml-auto-p2"
  >
    <mat-icon>person</mat-icon>
    <span>LOGOUT</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="['/cocina']"
    class="btn btn-lg pull-right ml-auto-p2"
  >
    <mat-icon>kitchen</mat-icon>
    <span>Cocina</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="['/error']"
    class="btn btn-lg pull-right ml-auto-p2"
  >
    <mat-icon>error</mat-icon>
    <span>Error</span>
  </button>
  <button
    mat-menu-item
    [routerLink]="['/success']"
    class="btn btn-lg pull-right ml-auto-p2"
  >
    <mat-icon>check icon</mat-icon>
    <span>Exito</span>
  </button>
</mat-menu>
